/* https://www.w3schools.com/howto/howto_css_two_columns.asp */
/* https://developer.mozilla.org/es/docs/Web/CSS/box-sizing */
/* Así definimos el comportamiento de caja para todos los elementos */

* {

  box-sizing: border-box;

}



/* Crear columnas */

.columna {

  float: left;

  padding: 10px;

  min-height: 500px;

  color: #fff;

}



.izquierda {

  width: 25%;

}



.derecha {

  width: 75%;

}



/* Clear floats */

.fila:after {

  content: "";

  display: table;

  clear: both;

}



#c1 {

  background-color: #111;

  border: 2px solid gold;

}



#c2 {

  background-color: #1f1f1f;

  border: 2px solid gold;

}



/* Estilos para imágenes */

img {

  width: 100%;

  height: auto;

  border-radius: 6px;

}


/* Imágenes responsive dentro de la columna izquierda */

.iresponsive {

  padding: 0 6px;

  float: left;

  width: 50%;

}



/* Responsive layout */

@media screen and (max-width: 600px) {

  .columna {

      width: 100%;

  }



  .iresponsive {

      width: 100%;

  }

}



body {

  background: #9b9b9b;

  font-family: Arial, sans-serif;

  margin: 0;

  padding: 20px;

}



h2, h3, h4 {

  color: gold;

}



ul {

  padding-left: 18px;

}



/* Redes sociales */

.redes li {

  list-style: none;

  margin-bottom: 6px;

  font-size: 14px;

}



/* ====== TRAYECTORIA (CLUBES) ====== */



.club {

  display: flex;

  align-items: center;

  margin-bottom: 12px;

  padding: 8px;

  border: 1px solid gold;

  background: #111;

}



.club img {

  width: 70px;

  height: auto;

  margin-right: 15px;

  border-radius: 4px;

}



.club-info h4 {

  margin: 0;

  color: gold;

}



.club-info p {

  margin: 2px 0 0;

  font-size: 14px;

  color: #ddd;

}